<div class="container my-4">
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">It all started with icoder's idea <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="img-fluid" src="/assets/about1.jpeg" alt="">
    </div>
  </div>
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7">
      <h2 class="featurette-heading">We started icoder in 1887 <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid"src="/assets/about2.jpeg" alt="">
    </div>
  </div>
  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="img-fluid"src="/assets/about3.jpeg" alt="">
    </div>
  </div>
</div>
<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>© 2020-2021 icoder, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>